@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');

body {
    font-family: 'Carrois Gothic SC', Roboto, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}